<form method="post" action="{{ path('supprimer-contact', {'id': contact.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce contact?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
